
<!-- lp:insertions start head -->
<link href="//builder-assets.unbounce.com/published/page-defaults-c1acb70.z.css" rel="stylesheet" media="screen" type="text/css" />

<script type="text/javascript">
var lp = lp || {};
lp.jQuery = jQuery.noConflict( true );
</script>

<script src="//builder-assets.unbounce.com/modules/lp-block/public/main-90cd9cc.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/published/matchMedia-ba7af92.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-image/public/main-8ff2ac3.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-button/public/main-d9cd5d4.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-text/public/main-784af76.z.js" type="text/javascript"></script>

<link href="//builder-assets.unbounce.com/published/lightbox-976bdb7.z.css" rel="stylesheet" media="screen" type="text/css" id="lightbox-stylesheet"/>

<script src="//builder-assets.unbounce.com/published/lightbox-7b668e6.z.js" type="text/javascript"></script>

<script type="text/javascript">
  window.lp.lightbox.registerLightbox('#lp-pom-button-49', {"desktop":{"width":375,"height":560},"mobile":{"width":320,"height":420}})
  window.lp.lightbox.registerLightbox('#lp-pom-button-111', {"desktop":{"width":375,"height":560},"mobile":{"width":320,"height":420}})
</script>


<script>
lp = lp || {};
lp.webFontLoad = {
  google: {
    families: ['Abril Fatface:400,400italic,700,700italic','Lato:400,400italic,700,700italic','Quantico:400,400italic,700,700italic','Lato:400,400italic,700,700italic']
  },
  active: function() {
   if(lp && lp.text && typeof lp.text.fixTextHeights === "function")  {
     lp.text.fixTextHeights();
   }
  }
};
window.WebFont.load(lp.webFontLoad);
</script>
<script type="text/javascript">
lp.jQuery(function(){
  var query = window.location.search.replace('?', '');
  if ( ! query) { return; }
  lp.jQuery(["#lp-pom-button-49","#lp-pom-button-111"]).each(function(i, id) {
    var $element = lp.jQuery(id);
    var currentHref = $element.attr('href');
    var modifier = new RegExp(/\?/).test(currentHref) ? '&' : '?';
    $element.attr('href', currentHref + modifier + query);
  });
});
</script>


<script src="//builder-assets.unbounce.com/published/ub-browser-879f873.z.js" type="text/javascript"></script>


<body class="lp-pom-body ">
<!-- lp:insertions start body:before -->
<!-- lp:insertions end body:before -->
<div class="lp-element lp-pom-root" id="lp-pom-root">
<div id="lp-pom-root-color-overlay"></div>
<div class="lp-positioned-content">


  <div class="lp-element lp-pom-image" id="lp-pom-image-24">
     <div class="lp-pom-image-container wrap" style="overflow: hidden;">
      <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/-20170393/transparent.gif" alt="photo">
      <div class="cover">
          <p><a style="font-size:23px;" href="http://unbouncepages.com/pain-free-1/"><br/>—————去看看</a></p>
      </div>
    </div>
 </div>

<div class="lp-element lp-pom-image" id="lp-pom-image-25">
   <div class="lp-pom-image-container wrap" style="overflow: hidden;">
    <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/-20170393/transparent.gif" alt="photo">
    <div class="cover">

        <p><a  style="font-size:23px;" href="http://unbouncepages.com/catbutler/"><br/>—————去看看</a></p>
    </div>
  </div>
</div>


<div class="lp-element lp-pom-image" id="lp-pom-image-26">
   <div class="lp-pom-image-container wrap" style="overflow: hidden;">
    <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/-20170393/transparent.gif" alt="photo">
    <div class="cover">
        <p><a style="font-size:23px;" href=" http://unbouncepages.com/920-customer/"><br/>—————去看看</a></p>
    </div>
  </div>
</div>


<div class="lp-element lp-pom-image" id="lp-pom-image-27">
<div class="lp-pom-image-container" style="overflow: hidden;">
<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/-20170393/5fe67542-leafing-left.png" alt=""></div>
</div>
<div class="lp-element lp-pom-image" id="lp-pom-image-28">
<div class="lp-pom-image-container" style="overflow: hidden;">
<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/-20170393/83a71cf0-leafing-right.png" alt=""></div>
</div>
<div class="lp-element lp-pom-image" id="lp-pom-image-30">
<div class="lp-pom-image-container" style="overflow: hidden;">
<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/-20170393/d59fa64d-phone-icon.png" alt=""></div>
</div>
<div class="lp-element lp-pom-image" id="lp-pom-image-34">
<div class="lp-pom-image-container" style="overflow: hidden;">
<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/-20170393/transparent.gif" alt=""></div>
</div>

<div class="lp-element lp-pom-image" id="lp-pom-image-36">
   <div class="lp-pom-image-container wrap" style="overflow: hidden;">
    <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/-20170393/transparent.gif" alt="photo">
    <div class="cover">
        <h3>我们拥有强大的开发</h3>
        <br/>
        <p><a href="http://www.sucaihuo,com">点击查看</a></p>
    </div>
  </div>
</div>



<div class="lp-element lp-pom-image" id="lp-pom-image-37">
   <div class="lp-pom-image-container wrap" style="overflow: hidden;">
    <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/-20170393/transparent.gif" alt="photo">
    <div class="cover">
        <h3>为你门店网站策划每个细节</h3>
        <br/>
        <p><a href="http://www.sucaihuo,com">点击查看</a></p>
    </div>
  </div>
</div>


       <div class="lp-element lp-pom-image" id="lp-pom-image-38">
          <div class="lp-pom-image-container wrap" style="overflow: hidden;">
           <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/-20170393/transparent.gif" alt="photo">
           <div class="cover">
               <h3>骇客世界冠军Xdite亲自执导</h3>
               <br/>
               <p><a style="font: right;" href="http://www.sucaihuo,com">点击查看</a></p>
           </div>
         </div>
      </div>



<a class="lp-element lp-pom-button" id="lp-pom-button-49" href="products"><span class="label" style="font-size:23px;">实例网站</span></a>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-52">
<p>
<span style="color:#ffffff;"><strong><span style="font-family:lato;"><span style="font-size:36px;">&nbsp; 给你的门店配一个网站客流就不断</span></span></strong></span>
</p>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-53">
<p class="lplh-29" style="text-align: center;">
<span style="font-size:18px;"><span style="color:#ffffff;"><span style="font-family:lato;">轻松超越同行！</span></span></span><span style="font-size:18px;"><span style="color:#ffffff;"><span style="font-family:lato;">&nbsp; <span style="font-size:18px;"><span style="color:#ffffff;"><span style="font-family:lato;"><span style="font-size:18px;"><span style="color:#ffffff;"><span style="font-family:lato;">不是网购，胜于网购！</span></span></span></span></span></span>营业额不断创新高！</span></span></span><span style="font-size:18px;"><span style="color:#ffffff;"><span style="font-family:lato;"><span style="font-size:18px;"><span style="color:#ffffff;"><span style="font-family:lato;">！</span></span></span></span></span></span>
</p>
</div>

<div class="lp-element lp-pom-text nlh" id="lp-pom-text-57">
<p>
<span style="font-size: 19px; font-family: &quot;Abril Fatface&quot;;">与你同一街道上的张三；李四已经有了属于自己的门店网站</span>
</p>
</div>

<div class="lp-element lp-pom-text nlh" id="lp-pom-text-62">
<div class="lplh-29">
<font face="lato"><span style="font-size: 14px;"><strong class="">大昌二路462巷&mdash;&mdash;中医伤科治疗</strong></span></font>
</div>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-63">
<p>建工路346巷&mdash;&mdash;贴心宠物管家</p>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-64"></div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-65"></div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-69">
<div class="lplh-26">
<font face="lato"><span style="font-size: 14px;"><strong class="">地址：广东英德</strong></span></font>
</div>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-71">
<div class="lplh-26">
<div class="lplh-26">Email: yujiankea@gmail.com</div>
</div>
<p>&nbsp;</p>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-72">
<div class="lplh-26">
<div class="lplh-26">电话：13412341234</div>
</div>
<p>&nbsp;</p>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-91">
<p class="lplh-26" style="text-align: center;">

</p>
</div>
<a class="lp-element lp-pom-button" id="lp-pom-button-111" href="clkn/rel/a-5-lightbox.html"><span class="label" style="font-size:23px;">马上订购</span></a>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-112">
<p class="lplh-38" style="text-align: center;">
<span style="color:#ffffff;"><strong><span style="font-family:lato;"><span style="font-size:36px;">三月十八日前订购可以享受八点八折优惠</span></span></strong></span>
</p>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-119">
<div class="lplh-29">
<font face="lato"><span style="font-size: 19px;"><strong class=""><span style="font-family: Quantico;">让客户更容易找到你，</span></strong></span></font><span style="font-size: 19px;"><font class="" face="lato"><strong class=""><span style="font-family: Quantico;">发现你，即使你在偏僻的小巷！</span></strong></font></span>
</div>
<div class="lplh-29">
<br>
</div>
<p>
<br>
</p>
</div>
<div class="lp-element lp-pom-image" id="lp-pom-image-121">
<div class="lp-pom-image-container" style="overflow: hidden;">
<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/-20170393/transparent.gif" alt=""></div>
</div>
<div class="lp-element lp-pom-box" id="lp-pom-box-133">
<div id="lp-pom-box-133-color-overlay"></div>
</div>
<div class="lp-element lp-pom-box" id="lp-pom-box-136">
<div id="lp-pom-box-136-color-overlay"></div>
</div>
<div class="lp-element lp-pom-box" id="lp-pom-box-138">
<div id="lp-pom-box-138-color-overlay"></div>
</div>
<div class="lp-element lp-pom-box" id="lp-pom-box-139">
<div id="lp-pom-box-139-color-overlay"></div>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-140">
<p>线上饮料</p>
</div>
<div class="lp-element lp-pom-box" id="lp-pom-box-141">
<div id="lp-pom-box-141-color-overlay"></div>
</div>
<div class="lp-element lp-pom-box" id="lp-pom-box-142">
<div id="lp-pom-box-142-color-overlay"></div>
</div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-8">
<div id="lp-pom-block-8-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-14">
<div id="lp-pom-block-14-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-15">
<div id="lp-pom-block-15-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-17">
<div id="lp-pom-block-17-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-18">
<div id="lp-pom-block-18-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-19">
<div id="lp-pom-block-19-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>

</div>
<!-- lp:insertions start body:after -->
<div id="lp-pom-image-24-holder" class="lp-pom-image-holder"></div>
<div id="lp-pom-image-25-holder" class="lp-pom-image-holder"></div>
<div id="lp-pom-image-26-holder" class="lp-pom-image-holder"></div>
<div id="lp-pom-image-34-holder" class="lp-pom-image-holder"></div>
<div id="lp-pom-image-36-holder" class="lp-pom-image-holder"></div>
<div id="lp-pom-image-37-holder" class="lp-pom-image-holder"></div>
<div id="lp-pom-image-38-holder" class="lp-pom-image-holder"></div>
<div id="lp-pom-image-121-holder" class="lp-pom-image-holder"></div>
<script type="text/javascript">
  function updateViewport() {
    var viewport = document.querySelector('meta[name="viewport"]');
    if (viewport && window.innerWidth > 600 && window.innerWidth < 1024) {
      var defaultDeviceWidth = window.innerWidth;
      var defaultPageWidth = document.getElementById('lp-pom-root').offsetWidth;
      var calculatedScale = (defaultDeviceWidth / defaultPageWidth);
      var viewportContent = 'initial-scale=' + calculatedScale + ', user-scalable=yes';
      if (defaultDeviceWidth >= defaultPageWidth) {
        viewportContent = 'initial-scale=1.0, ' + 'width=device-width, ' + 'user-scalable=yes';
      }
      viewport.content = viewportContent;
    }
  }
  lp.jQuery(document).ready(updateViewport);
  window.addEventListener('orientationchange', updateViewport);
</script>
<script>
function disableParallaxOnMobile() {
  if (navigator.userAgent.match(/(Android|iPod|iPhone|iPad|iemobile|blackberry)/)) {
    var parallaxEls = lp.jQuery('.lp-pom-root, .lp-pom-block');
    for (i = 0; i < parallaxEls.length; i++) {
      var parallaxEl = parallaxEls[i];
      if (lp.jQuery(parallaxEl).css('background-attachment') === 'fixed') {
        parallaxEl.style['background-attachment'] = 'scroll';
      };
    };
  }
}

disableParallaxOnMobile();

window.addEventListener("orientationchange", function() {
  disableParallaxOnMobile();
}, false);
</script>

<script type="text/javascript">// See README.md for documentation
lp.jQuery().ready(function($) {
  $('input[name^=ubafs-]', 'form').remove();

  var info = JSON.stringify({
    date: new Date(),
    agent: navigator.userAgent,
    screen: {
      availWidth: screen.availWidth,
      availHeight: screen.availHeight,
      width: screen.width,
      height: screen.height
    },
    window: {
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    },
    hasPlugins: ('length' in navigator.plugins && navigator.plugins.length > 0)
  });

  var jevField = $('<input type="hidden" id="ubafs-jev" name="ubafs-jev">').val(info);
  $('form').append(jevField);
});
</script>
<!-- lp:insertions end body:after -->
</body>



        <script type="text/javascript" src="http://www.sucaihuo.com/Public/js/other/jquery.js"></script>
        <script type="text/javascript">
            $(function() {
                $(".cover").css('opacity', 0.7);
                $('.wrap').hover(function() {
                    $(".cover", this).stop().animate({top: '80px'}, {queue: false, duration: 160});
                }, function() {
                    $(".cover", this).stop().animate({top: '242px'}, {queue: false, duration: 160});
                });
            });
        </script>
